@import "tailwindcss";

@layer components {
  .text-gradient-color {
    @apply bg-gradient-to-b from-[#ad2b08] to-[#ffc700] inline-block text-transparent bg-clip-text;
  }
  .bg-gradient-color {
    @apply bg-gradient-to-tl from-[#ffc700] to-[#ad2b08];
  }
}

:root {
  --font-nunito: "Nunito", sans-serif;
}

@theme {
  --color-primary-color: #ffffff;
  --color-background-color: #efefef;
  --color-secondary-color: #ad2b08;
  --color-base-color: #2c2c2c;
  --color-secondbase-color: #28314e;
  --color-third-color: #ffc700;
  --color-highlight: #7d7f88;
  --color-input-color: #5d5d5d;
  --color-error: #e53935;
  --color-success: #11c186;
  --color-warning: #ffa500;
}

html,
body {
  font-family: var(--font-nunito);
  scroll-behavior: smooth;
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ad2b08, #ad2b08);
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/* ::-moz-selection {
  color: #ffffff;
  background: #273d62dd;
}

::selection {
  color: #ffffff;
  background: #273d62dd;
} */

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: #ad2b08 !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #ffb31f;
  padding: 8px 12px;
  font-size: 1.2rem !important;
  background-color: #ad2b08;
  border-radius: 100%;
  z-index: 100;
  margin-right: 0px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  color: #ffb31f;
  padding: 8px 12px;
  font-size: 1rem !important;
  background-color: #ad2b08;
  border-radius: 100%;
  z-index: 100;
  margin-left: 0px;
}

/* Media query for screens larger than 768px */
@media (max-width: 767px) {
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    margin-right: 0px; /* Reset margin-right to 0px */
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    margin-left: 0px; /* Reset margin-left to 0px */
  }
}
