@import "tailwindcss";

@layer components {
  .text-gradient-color {
    @apply bg-gradient-to-b from-[#ad2b08] to-[#ffc700] inline-block text-transparent bg-clip-text;
  }
  .bg-gradient-color {
    @apply bg-gradient-to-tl from-[#ffc700] to-[#ad2b08];
  }
}

:root {
  --font-nunito: "Nunito", sans-serif;
}

@theme {
  --color-primary-color: #ffffff;
  --color-background-color: #efefef;
  --color-secondary-color: #ad2b08;
  --color-base-color: #2c2c2c;
  --color-secondbase-color: #28314e;
  --color-third-color: #ffc700;
  --color-highlight: #7d7f88;
  --color-input-color: #5d5d5d;
  --color-error: #e53935;
  --color-success: #11c186;
  --color-warning: #ffa500;
}

html,
body {
  font-family: var(--font-nunito);
  scroll-behavior: smooth;
  background-color: #ffffff !important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ad2b08, #ad2b08);
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/* ::-moz-selection {
  color: #ffffff;
  background: #273d62dd;
}

::selection {
  color: #ffffff;
  background: #273d62dd;
} */

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: #ad2b08 !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #ffb31f;
  padding: 8px 12px;
  font-size: 1.2rem !important;
  background-color: #ad2b08;
  border-radius: 100%;
  z-index: 100;
  margin-right: 0px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  color: #ffb31f;
  padding: 8px 12px;
  font-size: 1rem !important;
  background-color: #ad2b08;
  border-radius: 100%;
  z-index: 100;
  margin-left: 0px;
}

/* Media query for screens larger than 768px */
@media (max-width: 767px) {
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    margin-right: 0px; /* Reset margin-right to 0px */
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    margin-left: 0px; /* Reset margin-left to 0px */
  }
}

/* Darken the Ant Design image preview mask */
.ant-image-preview-root .ant-image-preview-mask {
  background-color: rgba(0, 0, 0, 0.85) !important; /* darker */
}

.ant-image-preview-switch-left,
.ant-image-preview-switch-right {
  color: #ffffff !important;
  background-color: #ad2b0855 !important;
}
.ant-image-preview-switch-left:hover,
.ant-image-preview-switch-right:hover {
  color: #ffffff !important;
  background-color: #ad2b08 !important;
}

.ant-image-preview-close {
  color: #ad2b08 !important;
  background-color: #ffffff !important;
}

/** SIDEBAR: Only added a border to the left of the menu items and changed the background color of the selected item. */
/* .ant-menu-item {
  background-color: transparent !important;
  border-left: 6px solid #ad2b0800 !important;
  border-radius: 0px !important;
  margin: 5px !important;
}
.ant-menu-item .ant-menu-item-title {
  background-color: transparent !important;
  border-left: 6px solid #ad2b0800 !important;
  border-radius: 0px !important;
  margin: 5px !important;
}
.ant-menu-item-selected {
  background-color: transparent !important;
  border-left: 6px solid #ad2b08 !important;
  border-radius: 0px !important;
  margin: 5px !important;
}
.ant-menu-submenu .ant-menu-submenu-title {
  background-color: transparent !important;
  border-left: 6px solid #ad2b0800 !important;
  border-radius: 0px !important;
  margin: 5px !important;
}

.ant-menu-submenu-selected .ant-menu-submenu-title {
  background-color: transparent !important;
  border-left: 6px solid #ad2b08 !important;
  border-radius: 0px !important;
}
.ant-menu-submenu-selected .ant-menu-item {
  border-left: 6px solid #ad2b0800 !important;
  background-color: transparent !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  margin: 5px !important;
  margin-bottom: 5px !important;
  border-radius: 0px !important;
}
.ant-menu-submenu-selected .ant-menu-item-selected {
  border-left: 6px solid #ad2b0800 !important;
  background-color: transparent !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  margin: 5px !important;
  margin-bottom: 5px !important;
}
.ant-menu-item-selected .ant-menu-title-content a {
  color: #ad2b08 !important;
  font-weight: 700 !important;
}
.ant-menu-submenu-selected .ant-menu-item-selected a {
  color: #ad2b08 !important;
}
.ant-menu-submenu-selected .ant-menu-item-selected .ant-menu-item-icon {
  color: #ad2b08 !important;
} */

.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
  background-color: #ad2b08 !important;
  color: #ffffff !important;
}

.ant-picker-now-btn {
  color: #ad2b08 !important;
}

.ant-picker-ok button {
  background-color: #ad2b08 !important;
  color: #ffffff !important;
}

.ant-picker-calendar-mode-switch {
  display: none !important;
  opacity: 0 !important;
  pointer-events: none !important;
}
.ant-picker-calendar-header {
  margin-bottom: 20px !important;
  justify-content: flex-start !important;
}

.ant-badge-status-dot {
  margin: 0px !important;
  margin-top: 6px !important;
  padding: 0px !important;
  width: 7px !important;
  height: 7px !important;
}
